.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-info {
      padding: 1rem;
    }

    img{
      height: 30rem;
    }
  }
}

